/* Denna Heads-Up-Display är det fritt fram att styla om och placera på andra ställen! */

#hud {
  position: auto;
  top: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

body {
  margin-top: 50px; /* Ge plats för HUD */
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #2a7b9b, #57c785, #eddd53);
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #444;
  color: white;
}

.navbar h1 {
  color: #eddd53;
  margin: 0;
  font-size: 24px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#treasure1 img {
  position: absolute;
  width: 450px;
  height: 600px;
  padding-left: 40px;
  cursor: pointer;
}

.main-content h2 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin: auto;
  position: relative;
}

#treasure2 {
  cursor: pointer;
}
